/*General */
* {
    margin: 0;
    padding: 0;
    background-color: rgb(248, 239, 241);
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

p {
    font-size: 20px;
    padding: 5px 35px 0 20px;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    color: gray;
}

a {
    color:black;
    text-decoration: none;
    font-family: Roboto, Arial, sans-serif;   
}

a:hover {
    color: gray;
}


main {
    max-width: 100%;
    display: flex; 

}

/*Header Styling*/

header {
    padding: 20px;
    font-family: Roboto, Arial, sans-serif;
    background-color: rgba(red, green, blue, alpha);
    margin: 0 auto;
    width: 100%;
    z-index: 1;
    display: flex;
    position: sticky;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    font-style: 'raleway', sans-serif;
    margin-left: 20px;
    color: black;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    list-style-type: none;
    font-size: 24px;
    display: inline-block;
    margin-left: 25px;
    list-style: none;
}
header li {
    display: inline-block;
    margin-left: 25px;
    list-style: none;
}
section {
   padding-top: 50px; 
   box-sizing: border-box;
   min-height:fit-content;
}
.about-me {
    display: flex;
    justify-content: center;
    text-align: center;

}
.profile {
    display: flex;
    margin: 12px;
    height: 360px;
    width: 360px;
    margin: auto 0;
    margin-left: 20px;
}

.profile-picture {
    border-radius: 50%;
}
 .introduction {
    align-self: center;
    text-align: center;
 }

 .introduction-p1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
 }

 .introduction-name {
    font-size: 60px;
    text-align: center;
 }

 #socials {
    display: flex;
    justify-content: center;
 }

 /* Social Icons */
  
 .social-icons {
    height: 80px;
    margin: 10px;
 }

.bio {
    font-size: 40px;
    font-family: Roboto, Arial;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.line {
    border-left: 4px solid #4b4848;
    height: 100%;
    margin: 0 20px;
}

.about-me-paragraph {
    font-family: Roboto, Arial;
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    flex: 1;
}
.work-container {

}



#contact {
    background-color: rgba(red, green, blue, alpha);
    padding: 20px;
    text-align: center;
    font-family: 'raleway', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#contact h2 {
    font-size: 24px;
}

#contact-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
 #contact-list li {
    margin: 0 10px;
    font-size: 18px;
 }

 @media (max-width: 768px) {
    .profile-picture {
        height: 120px;
        width: 120px;
        border-radius: 50%;

    }
 }